/* glabal styling */
html{
    scroll-behavior: smooth;
}

h1{
    font-size: 50px;
    line-height: 64px;
    font-family: lato;
color:black;
}
h3{
    font-size: 48px;
    line-height: 48px;
    color:black;
    font-family: lato;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color:black;
    font-family: lato;
}
h4{
    font-size: 20px;
    color:black;
    font-family: lato;
}
h5, span{
    font-family: lato;
}
h6{
    font-weight: 700;
    font-size: 12px;
    font-family: lato;
}
p{
    font-size: 16px;
    color:rgb(32, 30, 30);
    font-family:lato;
}
a{
    font-family: lato;
}
p{
    font-family: lato;
}
span{
    font-family: lato;

}
strong{
    font-family: lato;
}
td,{
    font-family: lato;
}
tr{
    font-family: lato;
}
li{
    font-family: lato;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px o;
}
body{
    width: 100%;
    background-color: #ece9e2;
    overflow-y: auto;
    overflow-x: hidden;
}
button.normal{
    font-size:14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #ffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
    font-family: lato;
}
/* global styling */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #fff;
    box-shadow: opx 10px 30px #00000044 ;
    position: fixed;
    top: 20px;
    left: 50%;
    width: 90%;
    max-width: 1100px;
    transform: translate(-50px);
    z-index: 999;
    border-radius: 50px;
    backdrop-filter: blur(15px);
    animation: anime 0.5s ease forwards;


}
@keyframes anime{
    from{
        opacity: 0;
        transform: translate(-50%, -40px);
    }
    to{
        opacity: 1;
        transform: translate(-50%,0);
    }
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight:700;
    color: black;
    font-family: lato;
    transition: 0.2s ease;
}
#navbar li{
    list-style:none;
    padding: 0px 20px;
    position: relative;
}
#navbar li a:hover{
color: red;
}
#navbar li a:hover,
#navbar li a.active{
    color: red;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content:"" ;
    width: 30%;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#navbar li a:hover{
    after
}

.logo{

    height: 80px; 
}


#mainpicture{

    padding: 100px;
}
#mainpicture h4{
padding-bottom: 15px;

}
#mainpicture h1{
    color: red;
}
#mainpicture button:hover{
    background-color: red;
    color: #ffff;
}
#mainpicture{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#shoe{
    height: 600px;
}

#offers{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    margin-top: 150px;
    
}



#display{
    text-align: center;
}
#display .products{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
}
/* box around items */
#display .pro{
    width: 20%;
    min-width: 250px;
    padding: 15px 7px 0;
    border: 0.5px solid #fff;
     border-radius: 20px;
     cursor: pointer;
     box-shadow:20px 20px 50px rgb(0,0,0,0.03);
     margin: 15px 0;
     position: relative;
     background-color:#ece9e2;
     transition: 400ms;
}
#display .pro:hover{
    box-shadow:20px 20px 20px rgba(179, 178, 210, 0.3);
    transform: scale(1.1,1.1);
}
#display .pro img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color:#eae8e5
}
#display .pro .des{
    text-align:start;
    padding: 8px 0;
}
#display .pro .des span{
    color: #7b7b7f;
    font-size: 12px;
    font-weight: bold;
}
#display .pro .des h5{
    font-weight: light;
    font-size: 12px;
}
#display .pro .des h4{
    font-size: 15px;
    font-weight:bold ;
    color: black;
}
#display .pro .des a{
    text-decoration: none;
    border-radius: 50px;
    width: 40px;
    height: 30px;
    background-color: #ece9e2;
    border: none;
    position: absolute;
    bottom: 20px;
    right: 10px;
    transition: 0.2s ease;

}
#display .pro .des a:hover{
 color: red;
 
} 

#banner,#banner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
#banner h4 ,#banner2 h4{
    font-size: 20px;
    letter-spacing: 2em;
    text-align: center;
    color: #ffff;
}
#banner h2,#banner2 h2{
    padding: 10px 0;
    color:#ffff;

}
#banner span{
    color: red;
}
#banner button,#banner2 button{
    margin-bottom: 50px;
}
#banner button:hover{
    background-color: red;
    color: #ffff;
}
#banner2 button:hover{
    background-color: red;
    color: #ffff;
}
#banner3{
    display: flex;
    padding:0 20em;
    align-items: center;
    background-color: rgb(17, 17, 113);
    
    

}
#banner3 h4{
    color: #fff;
    font-weight: 900;
    
    font-size: 30px;

}
#banner3 p{
    color: #fafafa;
    font-weight: 600;
    
    font-size: 14px;

}
#banner3 p span{
    color:red;
    font-weight: 600;
    font-family: lato;
    font-size: 14px;

}
#banner3 .form{
    display: flex;
    width: 40px;
}
#banner3 input{
    height: 3.2rem;
    padding: 0 5em;
}
    
#banner3 button{
    
    background-color: #ece9e2;
    
}

footer img{
    height: 50px;

}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .col{
    flex-direction: column;
    display: flex;
   align-items: flex-start;
   margin-bottom: 10px;
    
}
footer.logoft{
    margin-bottom: 30px;

}
footer h4{
    font-size: 14px;
    

}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color:black;
    margin-bottom: 10px;
}
footer .socials{
    margin-top: 20px;

}
footer.socials i{
    color: grey;
    padding-right: 4px;
    cursor: pointer;
    transition: 0.3ms ease;
}
footer .socials i:hover ,
footer a:hover{
    color: red;

}
footer .copyright{
    text-align: center;
    width: 100%;
}
/* styling for shop page */
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    padding: 15px 20px; 
    color: black;
    font-weight: 700;
    background-color: #fff;
    border-radius: 10px;
    font-family: lato;
}
/* styling for single product page */
#prodetails{
    display: flex;
    margin-top: 20px;
    

} 
#prodetails .singlepro-img{
width: 30%;
margin-right: 50px;
border: 1px solid #fff;
margin-left: 5%;
margin-top: 5%;

}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor:pointer;
    border: 4px solid #fff;
    
}
#prodetails .singel-pro-details{
    width: 40%;
    
}
#prodetails .singel-pro-details h6{
    margin-top: 12%;
}
#prodetails .singel-pro-details h2{
    
    font-size: 26px;
}
#prodetails .singel-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .singel-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.badge{
    position: absolute;
   right: -1px;
   top: -10px;
    font-size: 12px;
}
.icon{
position: relative;
}
/* on cart page  */
.payment{
    width: 500px;
    height: 500px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0 ;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 6px -7px 46px 10px rgba(66, 68, 90, 1);
-moz-box-shadow: 6px -7px 46px 10px rgba(66, 68, 90, 1);
box-shadow: 6px -7px 46px 10px rgba(66, 68, 90, 1);
z-index:9999 ;
}
.payTitle{
    font-size: 20px;
    color: lightgrey;

}
label{
    font-size: 14px;
    font-weight: 300;
}
.payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid grey;
}
.payInput::placeholder{
    color: lightgray;
}
.cardInfo{
    display: flex;
    justify-content: space-between;
}
.payInputsm{
    width: 30%;
}
.payButton{
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    background-color: #369e62;
    color: #fff;
    border: none;
    cursor: pointer;
}
.close{
    width: 20px;
    height: 2opx;
    position: absolute;
    background-color:grey;
    color: #fff;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}
/* on cart page */


/* call to action add end of index page */
#sm-banner .banner-box, .banner-box1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
#sm-banner h4{
    color: #fff;
   font-weight: 10;
    font-size: 20px;
    padding-left: 30px;
}
#sm-banner h2{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    padding-left: 30px;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-left: 30px;

}
#sm-banner button{
    margin-left: 30px;
    color: #fff;
    background-color: transparent;
    border: 1px solid;
    transition: 10ms ease-in;
}
#sm-banner button:hover{
    color: white;
    background-color: red;
}
#pm-banner{
    display: flex;
    justify-content: space-between;
}
#pm-banner button{
    
    color: #fff;
    background-color: transparent;
    border: 1px solid;
    transition: 10ms ease-in;
}
#pm-banner span{
    color: #fff;
    padding-left: 50px;
}
#pm-banner .banner-box4,.banner-box3,.banner-box2{
    padding-top: 100px;
}
#pm-banner button:hover{
    color: white;
    background-color: red;
}

/* contact us page */


#contactDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10% 10% 0 10%;
}
#contactDetails .details{
    width: 40%;
}
#contactDetails .details span,
#formDetails form span{
    font-size: 12px;
}
#contactDetails .details h2,
#formDetails form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contactDetails .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contactDetails .details li i{
    font-size: 20px;
    padding-right: 22px;
}
#contactDetails .details li p{
    margin: 0;
    font-size: 14px;
}
#contactDetails .details .map{
    width: 55%;
    height: 400px;

}
#contactDetails .details .map iframe{
    width: 100%;
    height: 100%;
    
}
#formDetails form{
width: 65%;
display: flex;
flex-direction: column;
align-items: flex-start;

}
#formDetails form input,
#formDetails form  textarea{
    width: 90%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 5px solid #fff;
}
#formDetails {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* cart page */
#cartpg table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    margin-top: 100px;
}
#cartpg table img{
    width: 70px;
    border: 1px solid #fff;
}
#cartpg table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cartpg table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cartpg table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cartpg table td:nth-child(4),
#cartpg table td:nth-child(5),
#cartpg table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cartpg table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cartpg table thead{
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}
#cartpg table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cartpg table tbody td tr{
padding-top: 15px;
}
#cartpg table tbody td{
    font-size: 13px;
}
#cartAdd{
    display: flex;
    justify-content: center;
    align-items: center;
}
#total{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #fff;
    padding: 30px;
}
#total table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}
#total table td{
    width: 50%;
    border: 1px solid #fff;
    padding: 10PX ;
    font-size: 13PX;
}
#total h3{
    padding-bottom: 15px;
}
#total button{
    background-color:#369e62;
    color: #fff;
    padding: 12px 20px;
}
#cartpg{
    overflow-x: auto;
}
