/* glabal styling */
*{
    margin: 0;
    padding:0;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}
html{
    scroll-behavior: smooth;
}

h1{
    font-size: 50px;
    line-height: 64px;
    font-family: lato;
color:black;
}
h3{
    font-size: 48px;
    line-height: 48px;
    color:black;
    font-family: lato;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color:black;
    font-family: lato;
}
h4{
    font-size: 20px;
    color:black;
    font-family: lato;
}
h5, span{
    font-family: lato;
}
h6{
    font-weight: 700;
    font-size: 12px;
    font-family: lato;
}
p{
    font-size: 16px;
    color:rgb(32, 30, 30);
    font-family:lato;
}
a{
    font-family: lato;
}
p{
    font-family: lato;
}
span{
    font-family: lato;

}
strong{
    font-family: lato;
}
td,{
    font-family: lato;
}
tr{
    font-family: lato;
}
li{
    font-family: lato;
}

.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
body{
    
    background-color: #ece9e2;
    overflow-y: auto;
    
}
button.normal{
    font-size:14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #ffff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
    font-family: lato;
}
 /* global styling */
 
#header {
    /* display: flex; */
    justify-content: flex-end;
    align-items: center;
    padding: 10px 290px;
    background-color: #fff;
    box-shadow: 0px 10px 30px #00000044;
    position: fixed;
    top: 20px;
    left: 50%;
    width: 90%;
    /* max-width: 1100px; */
    transform: translate(-50px);
    z-index: 999;
    /* border-radius: 50px; */
    backdrop-filter: blur(15px);
    animation: anime 0.5s ease forwards;
    overflow-x: clip;
}
@keyframes anime{
    from{
        opacity: 0;
        transform: translate(-50%, -40px);
    }
    to{
        opacity: 1;
        transform: translate(-50%,0);
    }
}
.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    height:100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.586);
    backdrop-filter: blur(10PX);
    box-shadow: -10px 0 10px rgb(0,0,0,0.01);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: space-between;

}
.sidebar li {
    text-decoration: none;
    list-style: none;
    width: 100%;
}
.sidebar a{
    text-decoration: none;
    color: #000;
    width: 100%;
}
.menu-button{
    display: none;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#navbar li:first-child{
    margin-right: auto;

}




#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight:700;
    color: black;
    font-family: lato;
    transition: 0.2s ease;
}
#navbar li{
    list-style:none;
    padding: 0px 40px;
    position: relative;
}
#navbar li a:hover{
color: red;
}
#navbar li a:hover,
#navbar li a.active{
    color: red;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content:"" ;
    width: 30%;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -4px;
    left: 40px;
} 

.srcform{
    
    display: flex;
    padding-top: 11px;
    width: 150px;
    padding-left: 50px;
  
}


.searchBar{
    outline: none;
    background-color: #ece9e2;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    height: 5px;
   
}

.logo{

    height: 50px;  
}
 

/* drop down menu */
.dropbtn {
  
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}




.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {color: red;}

.show {display: block;}



/* hero section on index page */
#mainpicture{

    padding: 100px;
}
#mainpicture h4{
padding-bottom: 15px;

}
#mainpicture h1{
    color: red;
}
#mainpicture button:hover{
    background-color: red;
    color: #ffff;
}
#mainpicture{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: hidden;
}
#shoe{
    height: 600px;
}

#offers{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    margin-top: 150px;
    overflow-x: hidden;
    
}



#display{
    text-align: center;
}
#display .products{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
}
/* box around items */
#display .pro{
    width: 20%;
    min-width: 250px;
    padding: 15px 7px 0;
    border: 0.5px solid #fff;
     border-radius: 20px;
     cursor: pointer;
     box-shadow:20px 20px 50px rgb(0,0,0,0.03);
     margin: 15px 0;
     position: relative;
     background-color:#ece9e2;
     transition: 400ms;
}
#display .pro:hover{
    box-shadow:20px 20px 20px rgba(179, 178, 210, 0.3);
    transform: scale(1.1,1.1);
}
#display .pro img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color:#eae8e5;
    
}
#display .pro .des{
    text-align:start;
    padding: 8px 0;
}
#display .pro .des span{
    color: #7b7b7f;
    font-size: 12px;
    font-weight: bold;
}
#display .pro .des h5{
    font-weight: light;
    font-size: 12px;
}
#display .pro .des h4{
    font-size: 15px;
    font-weight:bold ;
    color: black;
}
#display .pro .des a{
    text-decoration: none;
    border-radius: 50px;
    width: 40px;
    height: 30px;
    background-color: #ece9e2;
    border: none;
    position: absolute;
    bottom: 20px;
    right: 10px;
    transition: 0.2s ease;

}
#display .pro .des i{
    color: rgb(33, 2, 102);
}
#display .pro .des a:hover{
 color: red;
 
} 

#banner,#banner2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
#banner h4 ,#banner2 h4{
    font-size: 20px;
    letter-spacing: 1em;
    text-align: center;
    color: #ffff;
}
#banner h2,#banner2 h2{
    padding: 10px 0;
    color:#ffff;

}
#banner span{
    color: red;
}
#banner button,#banner2 button{
    margin-bottom: 50px;
}
#banner button:hover{
    background-color: red;
    color: #ffff;
}
#banner2 button:hover{
    background-color: red;
    color: #ffff;
}
#banner3{
    display: flex;
    padding:0 20em;
    align-items: center;
    background-color: rgb(17, 17, 113);
    width: 100%;
    box-sizing: border-box;
    

}
#banner3 h4{
    color: #fff;
    font-weight: 900;
    
    font-size: 30px;

}
#banner3 p{
    color: #fafafa;
    font-weight: 600;
    
    font-size: 14px;

}
#banner3 p span{
    color:red;
    font-weight: 600;
    font-family: lato;
    font-size: 14px;

}
#banner3 .form{
    display: flex;
    width: 40px;
}
#banner3 input{
    height: 3.2rem;
    padding: 0 5em;
}
    
#banner3 button{
    
    background-color: #ece9e2;
    
}

footer img{
    height: 50px;

}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .col{
    flex-direction: column;
    display: flex;
   align-items: flex-start;
   margin-bottom: 10px;
    
}
footer.logoft{
    margin-bottom: 30px;

}
footer h4{
    font-size: 14px;
    

}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color:black;
    margin-bottom: 10px;
}
footer .socials{
    margin-top: 20px;

}
footer.socials i{
    color: grey;
    padding-right: 4px;
    cursor: pointer;
    transition: 0.3ms ease;
}
footer .socials i:hover ,
footer a:hover{
    color: red;

}
footer .copyright{
    text-align: center;
    width: 100%;
}
/* styling for shop page  pignation*/
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    padding: 15px 20px; 
    color: black;
    font-weight: 700;
    background-color: #fff;
    border-radius: 10px;
    font-family: lato;
}
#pagination a:hover,
#pagination  a.active{
    color: red;
}
#pagination a.active::after,
#pagination  a:hover::after{
    
    width: 30%;
    height: 2px;
    background: red;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* styling for single product page */
#prodetails{
    display: flex;
    margin-top: 70px;
    

} 
#prodetails .singlepro-img{
width: 30%;
margin-right: 50px;
border: 1px solid #fff;
margin-left: 5%;
margin-top: 5%;

}
.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor:pointer;
    border: 4px solid #fff;
    
}
#prodetails .singel-pro-details{
    width: 40%;
    
}
#prodetails .singel-pro-details h6{
    margin-top: 12%;
}
#prodetails .singel-pro-details h2{
    
    font-size: 26px;
}
#prodetails .singel-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .singel-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.badge{
    position: absolute;
   right: -1px;
   top: -10px;
    font-size: 12px;
}
.icon{
position: relative;
}
/* on cart page  */




/* on cart page */


/* call to action add end of index page */
#sm-banner .banner-box, .banner-box1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
#sm-banner h4{
    color: #fff;
   font-weight: 10;
    font-size: 20px;
    padding-left: 30px;
}
#sm-banner h2{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    padding-left: 30px;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-left: 30px;

}
#sm-banner button{
    margin-left: 30px;
    color: #fff;
    background-color: transparent;
    border: 1px solid;
    transition: 10ms ease-in;
}
#sm-banner button:hover{
    color: white;
    background-color: red;
}
#pm-banner{
    display: flex;
    justify-content: space-between;
}
#pm-banner button{
    
    color: #fff;
    background-color: transparent;
    border: 1px solid;
    transition: 10ms ease-in;
}
#pm-banner span{
    color: #fff;
    padding-left: 50px;
}
#pm-banner .banner-box4,.banner-box3,.banner-box2{
    padding-top: 100px;
}
#pm-banner button:hover{
    color: white;
    background-color: red;
}

/* contact us page */


#contactDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10% 10% 0 10%;
}
#contactDetails .details{
    width: 40%;
}
#contactDetails .details span,
#formDetails form span{
    font-size: 12px;
}
#contactDetails .details h2,
#formDetails form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contactDetails .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contactDetails .details li i{
    font-size: 20px;
    padding-right: 22px;
}
#contactDetails .details li p{
    margin: 0;
    font-size: 14px;
}
#contactDetails .details .map{
    width: 55%;
    height: 400px;

}
#contactDetails .details .map iframe{
    width: 100%;
    height: 100%;
    
}
#formDetails form{
width: 65%;
display: flex;
flex-direction: column;
align-items: flex-start;

}
#formDetails form input,
#formDetails form  textarea{
    width: 90%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 5px solid #fff;
}
#formDetails {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* cart page */
#cartpg table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
    margin-top: 100px;
}
#cartpg table img{
    width: 70px;
    border: 1px solid #fff;
}
#cartpg table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cartpg table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cartpg table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cartpg table td:nth-child(4),
#cartpg table td:nth-child(5),
#cartpg table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cartpg table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cartpg table thead{
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}
#cartpg table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cartpg table tbody td tr{
padding-top: 15px;
}
#cartpg table tbody td{
    font-size: 13px;
}
#cartAdd{
    display: flex;
    justify-content: center;
    align-items: center;
}
#total{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #fff;
    padding: 30px;
}
#total table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}
#total table td{
    width: 50%;
    border: 1px solid #fff;
    padding: 10PX ;
    font-size: 13PX;
}
#total h3{
    padding-bottom: 15px;
}
#total button{
    background-color:#369e62;
    color: #fff;
    padding: 12px 20px;
}
#cartpg{
    overflow-x: auto;
}
/* policy page */
.pol{
     align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid #fff;
    margin: 150px 80px;
}
/* accessibility page */
.access{
     align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid #fff;
    margin: 150px 80px;

}
/* terms and condition page */
.terms{
     align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid #fff;
    margin: 150px 80px;

}
/* credits page */

.credits{
     align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid #fff;
    margin: 150px 80px;

}


/* delivery page */
.Policy{
    margin: 150px 80px;
}
#polDoc{
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid #fff;
    
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: lato;
}
b{
    font-family: lato;
}

/* Set a style for all buttons */
 .subtn  {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
 .subtn1{
    background-color: #04AA6D;
  color: white;
  padding: 14px 27px;
  margin: 8px 35px;
  border: none;
  cursor: pointer;
  width: 100%;
  
 }
 .subtn1:hover{
    opacity: 0.8;
 }

.subtn :hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  border: none;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
  border: 1px solid #369e62;
  background-color: #369e62;
}



.container {
  padding: 6px;
 
}

span.psw {
  float: right;
  font-family:lato;
 
  padding: 0 25px 50px 0;
  display: flex;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  
  overflow: none; /* Enable scroll if needed */
  
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  
  top: 0;
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* sign up form */

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.btn2 {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 35px;
  border: none;
  cursor: pointer;
  width: 100%;
  
}

.btn2:hover {
  opacity: 0.7;
}

/* Extra styles for the cancel button */
.cancelbtn2 {
  padding: 14px 20px;
  background-color: #f44336;
  cursor: pointer;
  border: none;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn2, .signupbtn {
  float: left;
  width: 50%;
  
}
.signupbtn{
     padding: 14px 0px;
     background-color: #04AA6D;
     cursor: pointer;
     border: none;
}
.signupbtn:hover{
   opacity: 0.9;
}
.cancelbtn2:hover{
    opacity: 0.9;
}


/* Add padding to container elements */
.container2 {
  padding: 15px;
}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  
  width: 30%; /* Full width */
  height: 30%; /* Full height */
  overflow: none; /* Enable scroll if needed */
 
  /* padding-top: 0px; */
}

/* Modal Content/Box */
.modal2-content2 {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
 
}
 
/* The Close Button (x) */
.close2 {
  position: absolute;
  right: 45px;
  bottom: -45px;
  font-size: 40px;
  font-weight: bold;
  color: #0b0b0b;
}
.modal2 h4{
    position: relative;
}

.close2:hover,
.close2:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix2::after {
  content: "";
  clear: both;
  display: table;
 
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn2, .signupbtn {
     width: 100%;
  }
}



@media (max-width: 1240px) {
    #display .pro {
    
    width: 80%;
   
}
#header {
    padding: 1px 80px;
    left: 50%;
    /* width: 90%; */
}

#display .products {
    display: grid;
    
     grid-template-columns: 1fr 1fr;
     margin-left: 70px;
}
#display .pro .des h5 {
    
    font-size: 2rem;
} 
#display .pro .des h4 {
    font-size: 2rem;
    
}

#display .pro .des i {
    
    width: 37px;
}
#display .pro .des span {
    
    font-size: 25px;
    
}
#display .pro img {
    width: 220px;
    height: 220px;
    
}
#header {
    
    padding: 1px 23px;
   
   
    left: 50%;
    /* width: 90%; */
   
}
#banner {
   
   
    height: 23vh;
 
}
#banner2 {
   
    height: 26vh;
    
}
#sm-banner {
    display: flex;
    
    gap: 15px;
}
#offers {
    
    margin-top: 100px;
}
}
@media (max-width:900px) {
    #shoe {
    height: 387px;
}
.section-p1 {
    padding: 10px 12px;
}
#offers {
    margin: 100px -48px 5px -11px;
}
#display .products {
    
    /* margin-left: 105px; */
}
#banner {
    padding: 0 34px 0 20px;
    height: 26vh;
    margin: 44px 13px -2px -7px;
}
#banner h4, #banner2 h4 {
    font-size: 20px;
    letter-spacing: 1em;
    text-align: center;
    color: black;
}
#banner h2, #banner2 h2 {
    font-size: 20px;
    padding: 15px 0;
    color: #ffff;
}
#header {
    padding: 1px 64px;
    left: 50%;
    /* width: 90%; */
}
#display .pro .des h5 {
    font-size: 1rem;
}
#display .pro .des h4 {
    font-size: 1rem;
}
#display .pro .des span {
    font-size: 15px;
}
}
@media (max-width:1238px){
    #header {
    padding: 1px 78px;
    left: 50%;
    /* width: 90%; */
}
.banner-box {
    
    width: 50%;
    height: 37vh;
    
}
.banner-box1 {
   
    width: 50%;
    height: 37vh;
   
}
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
}
#banner3 {
    
    padding:0;
    height: 7rem;
   
}
#banner3 input {
    height: 3.2rem;
    padding: 0px 9em 0 5em;
}
#banner3 h4 {
    color: #fff;
    font-weight: 900;
    font-size: 23px;
}
#banner3 p {
    padding: 0 85px 0 0;
    color: #fafafa;
    font-weight: 600;
    font-size: 12px;
}
#display .pro .des i {
    width: 25px;
    font-size: 10px;
}
}

@media (max-width:800px){
    .hideOnMobile{
        display: none;
    }
.menu-button{
    display: block;
}
#banner {
   
    width: 100%;
    height: 19vh;

}
#banner2 {
    height: 22vh;
    width: 103%;
}
#banner h2, #banner2 h2 {
    font-size: 35px;
    padding: 0px 0;
    color: #ffff;
}
#banner h4, #banner2 h4 {
    font-size: 15px;
    letter-spacing: 1em;
    text-align: center;
    color: white;
}
.banner-box {
    
    width: 362px;
    height: 30vh;
  
}
.banner-box1 {
   
    width: 416px;
    height: 37vh;
   
}
#sm-banner {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
}
@media screen and (min-width: 600px) {
 
  
  footer {grid-area: 4 / span 6;}
}

@media screen and (min-width: 768px) {
  
  
  footer {grid-area: 3 / span 6;}
}

@media (max-width:620px){
    #offers {
    margin: -46px -240px -9px 10px;
}

}

@media (max-width:480px){
    .sidebar{
        width: 50%;
    }
 /* #offers {
    margin: -46px -413px 5px 0px;
} */
#display .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0px 0px;
}
#mainpicture {
    gap: 5px;
    grid-template-columns: 1fr 1fr;
   /*  margin: 35px 0px -74px 0px; */
    display: grid;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#banner {
   /*  padding: 0 425px 0 0; */
    
    width: 100%;
    height: 29vh;
   
}
#banner h2, #banner2 h2 {
    font-size: 24px;
    padding: 0px 0;
    color: #ffff;
}
#banner2 {
    padding: 0 416px 0 0;
    height: 22vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
#pm-banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.banner-box4 {
    padding: 0 144px 0 31px;
    background-image: url("image/banner/action6.jpeg");
    width: 30%;
    height: 32vh;
    background-size: cover;
    background-position: center;
}
.banner-box2 {
    background-image: url("image/banner/action2.JPG");
    width: 32%;
    height: 42vh;
    background-size: cover;
    background-position: center;
    padding: 0 144px 0 31px;
}
.banner-box3 {
    background-image: url("image/banner/action3.jpg");
    width: 30%;
    height: 42vh;
    background-size: cover;
    background-position: center;
     padding: 0 144px 0 31px;
}
}
